@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,700;1,400;1,700&display=swap');


#color { #1973EF; }

* {
  box-sizing: border-box;
  color: black;
  font-family: 'Arimo', sans-serif;
}

html {
  background-color: white;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
}

body {
  margin: 0 auto;
  padding: 3rem 2rem 1rem 2rem;
  max-width: 112rem;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header {
  width: 100%;
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
div.button-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: .6rem;
}
button {
  border: 2px solid black;
  width: 8rem;
  padding: 8px;
  color: white;
  font-weight: 800;
  background-color: #1973EF;
  text-align: center;
  box-shadow: 3px 3px black;
  transition: box-shadow .1s ease-in-out;
  transition: background-color .25s ease-in-out;
}
button:hover {
  box-shadow: 4px 4px black;
  cursor: pointer;
  background-color: #1973EF;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section#s1 {
  height: calc(100vh - 16rem);
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
}
.video-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  overflow: hidden;
  background-color: gray;
}
video {
  min-width: 100%;
  max-height: 100%;
}
section#s1 div:nth-of-type(2) {
  height: 100%;
  justify-content: flex-start;
  padding: 0 2rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-width: 50rem;
}
ul li {
  list-style-type: none;
}
ul#statistics {
  margin-bottom: 4rem;
}
ul#statistics li {
  padding: .25rem;
  margin: 0 0 .5rem 0;
  background-color: lightgray;
  transition: background-color .25s ease-in-out;
}
ul#statistics li:hover {
  color: #1973EF;
}

section#s2 {
  min-height: 100vh;
  background-color: ;
}
figure {
  background-color: #E7E9E6;
  min-height: 30rem;
  height: 60vh;
  width: 100%;
  max-width: 50rem;
  margin: 0 auto 1rem auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border: 1px solid;
}
figure div {
  display: inline-block;
  position: relative;
  bottom: 0;
  left: 0;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color .25s ease-in-out;
}
figure div:hover {
  background-color: #DDC9F5 !important;
}
figcaption {
  width: 100%;
  max-width: 50rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  border: 1px solid;
}
figcaption span {
  width: 18%;
  text-align: center;
  padding: .5rem 0;
  line-height: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

aside {
  width: 100%;
  max-width: 50rem;
  padding: 4rem 0;
}
.toggler {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  cursor: pointer;
}
.toggler:after {
  content: url(images/hamburger.svg);
  content: '+';
}
.open .toggler:after {
  content: url(images/up-arrow.svg);
  content: '-';
}
.panel {
  display: flex;
  flex-direction: column;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s;
  padding: 1rem 0 0 0;
  margin: 0;
  border-bottom: 1px solid;
}
.panel p {
  padding-bottom: 1rem;
}

footer {
  padding: 1rem 0 0 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

img {
  object-fit: contain;
  object-position: center;
  width: 100%;
  min-height: 24rem;
  height: min(56vh, 46rem);
  padding-top: min(8.5vmin, 5rem);
  padding-bottom: min(8.5vmin, 5rem);
  padding-left: 2rem;
  padding-right: 2rem;
  filter: grayscale(1) brightness(.35);
  transition: filter 1.2s;
}
img.animate {
  filter: grayscale(0) brightness(1);
}

::selection {
  background-color: #DDC9F5;
}

h1,
h2,
.toggler,
p,
figcaption,
a,
small,
strong {
  padding: 0;
  margin: 0;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
  text-decoration: none;
  text-align: justify;
  line-height: 1.4;
  font-size: 1rem;
  font-family: 'Arimo', sans-serif;
}

h1 {
  font-size: 1.5rem;
  line-height: .8;
  text-align: left;
  font-weight: 800;
}
header h1 {
  font-size: 2.5rem;
  line-height: 1;
  padding: 0;
  margin: 0;
}

h2 {
  max-width: 50rem;
  font-size: 2.5rem;
  line-height: 1.2;
  text-align: center;
  margin: 0 auto;
  padding: 2rem 0 1rem 0;
}
#s1 h2 {
  text-align: left;
  padding-top: 0;
  margin-top: 0;
  padding-left: 0;
  margin-left: 0;
}
#s1 h2 span {
  color: #1973EF;
}

button {
  font-size: 1rem;
}

.toggler {
  padding: 1rem 0 0 0;
}

small {
  font-size: 0.8rem;
}

p {
  font-size: 1.1rem;
  max-width: 50rem;
}

strong {
  line-height: 0;
}


@media (prefers-color-scheme: dark) {
  html {
    background-color: #28272B;
  }

  * {
    color: #B3C4DE;
    color: #E8EBF1;
  }

  ::selection {
    color: black;
    background: #B3C4DE;
  }

  img {
    background-color: #B3C4DE;
  }
}
