@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap');

* {
  box-sizing: border-box;
  color: black;
  font-family: 'Yantramanav', sans-serif;
}

html {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-size: 22px;
  -webkit-text-size-adjust: 100%;
  	scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0 2rem;
}

header {
  padding: .75rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header h3:first-of-type {
  letter-spacing: .02rem;
  text-transform: uppercase;
}

section#s1,
section#s2,
section#s3 {
  width: 100%;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

section#s1 div,
section#s2 div,
section#s3 div {
  width: calc(50% - .5rem);
  height: 28rem;
  background-color: #E1EFF1;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  object-fit: cover;
  object-position: center;
  height: 28rem;
  max-width: calc(50% - .5rem);
  transition: filter 1.2s;
}

section#s1 h2:first-of-type {
  padding: 1.5rem 0 1rem 0;
}

article {
  padding: 2rem 0 3.5rem 0;
}

section#s2 div {
  background-color: #F6F6F6;
}

section#s1 .video-container {
  padding: 0;
  overflow: hidden;
  background-color: #F6F6F6;
}

video {
  width: auto;
  min-height: 100%;
  padding: 0 2rem;
}

section#s3 h2 {
  padding-bottom: 1rem;
  font-weight: 600;
  font-style: italic;
}

section#s3 div {
  margin: 0 auto;
  width: 100%;
}

figure {
  background-color: #E7E9E6;
  height: 28rem;
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  padding: 0;
  align-items: flex-end;
  border: 1px solid;
  margin-top: 0;
}

figure div {
  max-width: 20%;
  transition: background-color .25s ease-in-out;
  padding: 0 !important;
}

figure div:hover {
  background-color: #DDC9F5 !important;
}

figcaption {
  width: 100%;
  max-width: 50rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  border: 1px solid;
}

figcaption span {
  width: 18%;
  text-align: center;
  padding: .5rem 0;
  line-height: 1;
  font-weight: 300;
  font-size: .75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-width: 50rem;
}

ul li {
  list-style-type: none;
  font-size: .75rem;
  padding: .25rem;
  margin: 0 0 .5rem 0;
  background-color: #D5D5DF;
  transition: background-color .25s ease-in-out;
}

ul li:hover {
  color: #1973EF;
}

article h3 {
  text-align: center;
  max-width: 40rem;
  margin: 0 auto;
  font-weight: 500;
}

section#s4 {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: #E1EFF1;
  min-height: 24rem;
  margin-bottom: 2rem;
  padding-top: 1rem;
}

section#s4 h2 {
  padding-top: .5rem;
}

.form-container {
  width: 100%;
  max-width: 30rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 50rem;
  padding: 1rem 0;
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

form input {
  max-width: calc(50% - 10px);
  width: 100%;
  margin: 1rem 0;
  color: black;
  opacity: 1;
  padding: 0;
  height: 2rem;
  border: none;
  border-bottom: 2px solid black;
  background-color: transparent;
  outline: none;
  box-shadow: none;
  border-radius: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: none;
  transition: none;
}

form input::-webkit-input-placeholder {
  color: black;
  opacity: 1;
}

form input#message {
  min-width: 100%;
}

form input#submit {
  background-color: transparent;
  border: 2px solid;
  border-radius: 2px;
  padding: 0;
  transition: .2s background-color ease-in-out;
  max-width: 25%;
  margin: 0 auto;
}

form #submit:hover {
  cursor: pointer;
  background-color: black;
  border-color: black;
  color: white;
}

form h2 {
  display: block;
  width: 100%;
  padding-top: .5rem;
}

footer {
  padding: 1rem 0 0 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

::selection {
  background-color: #DDC9F5;
}

h1,
h2,
.toggler,
p,
figcaption,
a,
small,
strong {
  padding: 0;
  margin: 0;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
  text-decoration: none;
  text-align: justify;
  line-height: 1.4;
  font-size: 1rem;
  font-family: 'Hind Siliguri', sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 1.8rem;
  line-height: .8;
  text-align: center;
  font-weight: 100;
  text-transform: uppercase;
}

h2 {
  font-weight: 300;
  font-size: .75rem;
  line-height: 1.6;
  max-width: 30rem;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

h3 {
  font-size: 1rem;
  font-weight: 300;
}

a {
  font-weight: 100;
  font-size: .75rem;
  padding-left: .5rem;
}

.toggler {
  padding: 1rem 0 0 0;
}

small {
  font-size: 0.8rem;
}

p {
  font-size: 1.1rem;
  max-width: 50rem;
}

strong {
  line-height: 0;
}

@media screen and (max-width: 72rem) {
  body {
    padding: 0 1.2rem;
  }

  section#s1,
  section#s2,
  section#s3,
  section#s4 {
    flex-direction: column;
    margin-bottom: 0;
  }

  section#s1 div,
  section#s2 div,
  section#s3 div {
    width: 100%;
    margin-bottom: 1.2rem;
  }

  section#s2 div:last-of-type,
  section#s3 div:first-of-type,
  article,
  nav {
    display: none;
  }

  section#s1 {
    margin-bottom: 1rem;
  }

  section#s3 {
    margin-top: 1rem;
  }

  section#s3 div {
    background-color: transparent;
  }

  section#s3 div:last-of-type {
    height: 100%;
    padding: 0;
  }

  section#s3 ul li {
    background-color: #E1EFF1
  }

  section#s4 div {
    padding: 0 .5rem;
  }



  .form-container {
    align-items: center;
    height: auto;
    padding: 0 1rem;
  }

  form input {
    max-width: 100%;
    margin: 12px 0;
  }

  form input#submit {
    min-width: 100%;
  }

  img {
    max-width: 100%;
  }

  h1 {
    font-size: 1.4rem;
  }

  article {
    padding: 3rem 0 2.6rem 0;
  }

  video {
    width: 100%;
    max-height: 100%;
    padding: 0;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #28272B;
  }

  * {
    color: #B3C4DE;
    color: #E8EBF1;
  }

  ::selection {
    color: black;
    background: #B3C4DE;
  }

  img {
    background-color: #B3C4DE;
  }
}
